In [1]:
import numpy as np
import pandas as pd

import random

from sklearn.datasets import make_classification

In [2]:
X, y = make_classification(n_samples=50, n_features=20, n_informative=2, random_state=42)
X = pd.DataFrame(X)
y = pd.Series(y)
X.columns = [f'col_{col}' for col in X.columns]

In [3]:
display(X.head())
print(X.shape)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19
0,-0.926930,-0.036661,0.017429,0.443819,-1.247783,-1.024388,0.010233,0.081909,-0.059525,1.163164,1.441273,0.223717,-3.241267,1.632411,-0.252568,0.130741,0.774634,-0.440044,-1.430141,-1.435862
1,-0.450065,0.130447,-0.062511,0.005244,0.514439,-0.142379,0.115675,-0.311741,0.622850,1.551152,0.332314,-0.888631,-1.067620,0.711615,0.120296,1.277677,0.046981,-1.534114,-1.124642,-0.748487
2,0.500917,0.729048,-0.326652,-0.576771,0.543360,0.751387,-0.904317,-0.813379,-0.977555,0.259723,-1.627542,-0.727392,0.099332,-0.662624,-1.669405,-1.804882,0.755391,-0.763259,0.570599,0.048085
3,-0.034712,-1.231162,0.539810,-0.192361,-0.909387,0.751933,-0.503476,0.890332,-1.168678,0.099651,-0.990536,-0.976928,1.142823,1.402794,0.791032,2.190456,0.301547,0.586857,-1.401851,-0.566298
4,-0.637387,1.583077,-0.694705,-0.623141,0.471416,-0.570746,-0.387702,-1.169215,1.189017,-0.612789,1.547505,1.144863,1.420504,-0.552223,-0.832356,-1.515744,-0.555477,0.202923,0.632932,1.795878

(50, 20)

In [4]:
display(y.head())
print(y.shape)

0    0
1    1
2    1
3    0
4    1
dtype: int32

(50,)

In [5]:
class MyTreeClf():

    def __init__(self, max_depth = 5, min_samples_split = 2, max_leafs = 20):
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.max_leafs = max_leafs


    def __repr__(self):
        return f'MyTreeClf class: max_depth={self.max_depth}, min_samples_split={self.min_samples_split}, max_leafs={self.max_leafs}'

In [6]:
tree = MyTreeClf()
print(tree)

MyTreeClf class: max_depth=5, min_samples_split=2, max_leafs=20

In [7]:
def entropy(y):
    return -np.sum([(i/len(y))*np.log2(i/len(y)) if i>0 else 0 for i in y.value_counts(sort=False)])


def get_best_split(X, y):
    X, y = X.copy(), y.copy()
    S0 = entropy(y)
    max_ig = 0
    for col in X:
        values = sorted(X[col].unique())
        dividers = [(values[i]+values[i+1])/2 for i in range(len(values)-1)]
        for divider in dividers:
            split_right = y[X[col] > divider]
            split_left = y[X[col] <= divider]
            S_right = (len(split_right)/len(y))*entropy(split_right)
            S_left = (len(split_left)/len(y))*entropy(split_left)
            ig = S0 - S_right - S_left
            if ig > max_ig:
                col_name, split_value, max_ig = col, divider, ig
    return col_name, split_value, max_ig

In [8]:
get_best_split(X, y)

('col_1', 0.013747108758779714, 0.8776994414539945)