In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import make_regression

from RandomForestRegressor import MyForestReg

In [2]:
X, y = make_regression(n_samples=1000, n_features=14, n_informative=10, noise=15, random_state=42)
X = pd.DataFrame(X)
y = pd.Series(y)
X.columns = [f'col_{col}' for col in X.columns]

In [3]:
display(X.head())
print(X.shape)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13
0,1.191261,-0.308960,0.675137,-1.460501,0.053059,-1.886129,2.710794,-1.716033,0.865290,0.138078,-0.063745,-2.104583,-0.476876,1.677116
1,1.071476,-1.424766,-1.109750,-0.457677,0.399997,1.587401,-1.547570,0.323247,0.165859,-0.302097,0.203944,-0.212452,0.836991,0.368498
2,-0.045929,1.868603,-0.016568,-0.484258,1.089905,-1.147160,0.590744,0.683325,-0.571184,-0.802199,-0.220114,0.034808,0.043829,0.955803
3,-1.487154,2.220322,0.718332,1.682888,-0.420986,-0.054746,1.900832,-0.101198,0.090042,-0.202924,0.340865,0.606237,-0.037008,-0.841048
4,0.344054,0.657763,0.348342,-0.417430,-0.589112,1.057814,-0.487705,-0.897830,-0.935596,-1.186993,1.074333,-0.069532,-0.177918,-0.912811

(1000, 14)

In [4]:
rf_reg = MyForestReg(5)
rf_reg

MyForestReg class: n_estimators=5, max_features=0.5, max_samples=0.5, max_depth=5, min_samples_split=2, max_leafs=20, bins=16, random_state=42

In [5]:
rf_reg.fit(X, y)

In [6]:
rf_reg.predict(X)

0       25.400502
1       45.852945
2      -23.576793
3       22.257790
4     -104.324015
          ...
995      2.231004
996    -51.008926
997     57.361486
998     60.793373
999     79.795577
Length: 1000, dtype: float64