In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import make_regression

from RandomForestRegressor import MyForestReg

In [2]:
X, y = make_regression(n_samples=1000, n_features=14, n_informative=10, noise=15, random_state=42)
X = pd.DataFrame(X)
y = pd.Series(y)
X.columns = [f'col_{col}' for col in X.columns]

In [3]:
display(X.head())
print(X.shape)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13
0,1.191261,-0.308960,0.675137,-1.460501,0.053059,-1.886129,2.710794,-1.716033,0.865290,0.138078,-0.063745,-2.104583,-0.476876,1.677116
1,1.071476,-1.424766,-1.109750,-0.457677,0.399997,1.587401,-1.547570,0.323247,0.165859,-0.302097,0.203944,-0.212452,0.836991,0.368498
2,-0.045929,1.868603,-0.016568,-0.484258,1.089905,-1.147160,0.590744,0.683325,-0.571184,-0.802199,-0.220114,0.034808,0.043829,0.955803
3,-1.487154,2.220322,0.718332,1.682888,-0.420986,-0.054746,1.900832,-0.101198,0.090042,-0.202924,0.340865,0.606237,-0.037008,-0.841048
4,0.344054,0.657763,0.348342,-0.417430,-0.589112,1.057814,-0.487705,-0.897830,-0.935596,-1.186993,1.074333,-0.069532,-0.177918,-0.912811

(1000, 14)

In [4]:
rf_reg = MyForestReg(5)
rf_reg

MyForestReg class: n_estimators=5, max_features=0.5, max_samples=0.5, max_depth=5, min_samples_split=2, max_leafs=20, bins=16, random_state=42

In [5]:
rf_reg.fit(X, y)

       col_10     col_1     col_0     col_4     col_3     col_9     col_2
754 -0.497572 -0.340599  0.099887  0.551886 -0.878263 -1.356936  0.480745
104  0.846118  0.359055 -0.267137 -0.528916 -1.984688 -0.697364  0.440354
692 -0.778837  1.139556 -0.589895 -0.113481  0.595491 -1.098620 -0.132169
758  0.265288  1.440110  0.759442  0.565739 -0.825787 -0.661022 -0.223939
913 -0.688650  1.409434  1.090244 -0.696294  0.907532 -1.695018 -0.669097
..        ...       ...       ...       ...       ...       ...       ...
522  1.037171 -0.120643 -0.247172 -0.359911 -0.387489 -0.180807 -0.331239
697 -0.555280 -0.915477  1.943529  1.311162 -1.191875 -0.502869 -0.759673
502 -0.637588  0.496400  0.945212 -1.387869  0.168015  1.180128  0.500832
431  0.428342 -0.169852  0.036783 -0.482314  0.082773 -0.183301 -2.384307
876 -0.193995 -0.392048 -2.224384  0.623236 -0.066601  0.421360  0.336903

[500 rows x 7 columns]

        col_5     col_0     col_1     col_4     col_2    col_10    col_12
111 -0.824734  0.076733 -1.740701  0.586802  0.183454  0.190211  1.160083
610  0.158089  0.937477  0.545787 -0.277544  1.635066 -0.253676  0.421780
444 -0.326012  0.476651 -0.510989  0.390366  1.715908  0.952478 -0.320385
353  0.420973 -0.862776  0.007063  0.492019  0.693479  0.617006 -2.153343
746 -1.923216  0.201395  1.174762 -0.245172 -0.193155  0.071287  0.046212
..        ...       ...       ...       ...       ...       ...       ...
405 -0.086217 -1.098186  1.923513 -0.129673 -0.448908 -1.614750 -0.284789
320 -0.802824  1.489113  0.861636 -0.073973  2.271450  0.569760  1.972542
612  1.021623 -0.651675 -0.711462 -0.378760 -2.194382  0.533207  0.430862
599  1.582117  0.125887  2.291911 -0.399465 -0.476551 -1.641380 -0.063274
411 -0.815810  1.453534 -0.245388 -0.077102 -0.264657 -0.857158  0.276691

[500 rows x 7 columns]

        col_3     col_6     col_1     col_8    col_13     col_2     col_4
846 -0.363176 -0.443429  0.544460 -1.119250  0.915824 -0.136422  0.255977
145  0.330867  0.324782  0.032774  0.444968 -0.161767  0.609239  1.396760
73  -0.187144  0.579633  2.062525  0.452372  0.428307  1.187386 -0.079641
61  -1.137033 -0.550587 -1.803750  1.475879 -0.229081  1.302590 -1.284387
169 -2.438817  0.965397  0.262561 -0.103222 -0.582759  1.422748  0.390465
..        ...       ...       ...       ...       ...       ...       ...
788 -0.926513 -0.082514 -0.029804 -0.687784 -0.374390 -1.514414 -1.510546
460 -0.815910  0.400170  0.063232  0.897656  1.187713  0.496635 -0.514089
950  1.263707  0.264020 -1.820603  1.987276  0.105754  0.543479 -1.368315
925 -2.386930 -3.007632  2.349076  0.263551 -2.426392  1.097300  0.395799
595  0.120770 -1.330649  0.306790 -0.222748  0.011652  0.982011  0.135518

[500 rows x 7 columns]

        col_2     col_1    col_13     col_4     col_9     col_8     col_5
390 -0.987523  1.983704 -0.971062  0.571141  0.417095 -0.723487 -0.984634
611 -0.729602 -0.863883  0.855556 -0.129517  1.041725  0.579857  0.583544
543 -0.807651  0.485360 -0.048830 -0.897659  0.305666 -0.637487 -0.731255
301  0.794923  0.087974 -0.310938 -0.431456 -0.528998 -2.120087 -1.075737
464  2.124771 -0.297482 -0.638283 -1.270061  0.320786  0.286956  0.194052
..        ...       ...       ...       ...       ...       ...       ...
776 -0.813814  0.015123 -1.101327 -0.592799 -0.374623 -0.023394 -0.480170
463 -0.310391 -1.278353  0.133958  1.548639 -1.336569  0.320217  1.336657
255 -0.208122  0.113517  0.588317  2.133033  1.586017 -1.952088 -1.237815
305 -1.448084 -0.825497 -0.506943 -0.822220  0.412931  0.243687 -0.563725
274  0.729064  0.499096 -0.022035  0.828059 -0.170386  1.071081 -0.812824

[500 rows x 7 columns]

        col_0    col_10     col_8     col_9     col_3     col_2     col_4
439  0.117518 -0.058926 -0.443219 -0.138501 -0.780405 -0.354219 -0.005041
1    1.071476  0.203944  0.165859 -0.302097 -0.457677 -1.109750  0.399997
629 -1.170384  1.756102 -0.181860 -0.843102  1.814253 -1.573213  0.281583
361  1.731170 -0.591285 -1.955049 -0.200639 -0.917976 -0.635410  1.040431
246 -1.479444  1.007133 -0.396230 -0.695695  2.303639  1.259233  1.239584
..        ...       ...       ...       ...       ...       ...       ...
471 -0.589272 -1.545730  0.257976  0.196131 -0.002404 -1.092164 -1.548961
937 -1.739205  3.117681  0.563788 -1.290942 -1.114532  1.106710  0.014005
446  1.296257 -0.947531  1.110678  0.625932  0.186093  0.223524 -0.641416
909  0.021713  0.468524 -0.676054  0.184769 -0.419847 -0.591147  0.569876
889 -0.385082  0.931280  1.057122 -1.478522  0.324084 -0.676922 -0.460639

[500 rows x 7 columns]